In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
a = int(3)    
z = float(3)

In [3]:
n = ["apple", "banana", "cherry"]
m = {"apple", "banana", "cherry"}

In [4]:
print(type(z))
print(10 > 9)

<class 'float'>
True

In [5]:
i = 5
j = 3
print(i * j)
print(i - j	)
print(i / j	)
print(i % j	)
print(i ** j)
print(i // j)

15
2
1.6666666666666667
2
125
1

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
h = 200
k = 33
if h > k:
  print("h is greater than k")
elif h == k:
  print("h and k are equal")
else:
  print("h is greater than k")

h is greater than k

In [8]:
l = 1
while l < 6:
  print(l)
  if l == 3:
    break
  l += 1

1
2
3

In [9]:
for f in range(2, 6):
  print(f)

2
3
4
5

In [10]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x0000015DA5820990>

In [11]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [12]:
import datetime

k = datetime.datetime.now()

print(k.year)
print(k.strftime("%A"))

2024
Tuesday

In [13]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       
boat1 = Boat("Ibiza", "Touring 20") 
plane1 = Plane("Boeing", "747")     

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [21]:
import sys
 
# importing sys.path
print(sys.path)

['C:\\Users\\Akilesh K', 'C:\\Users\\Akilesh K\\anaconda3\\python311.zip', 'C:\\Users\\Akilesh K\\anaconda3\\DLLs', 'C:\\Users\\Akilesh K\\anaconda3\\Lib', 'C:\\Users\\Akilesh K\\anaconda3', '', 'C:\\Users\\Akilesh K\\anaconda3\\Lib\\site-packages', 'C:\\Users\\Akilesh K\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\Akilesh K\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\Akilesh K\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [15]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

In [16]:
def student(firstname, lastname):
    print(firstname, lastname)
 
 
# Keyword arguments
student(firstname='Hexa', lastname='Practice')
student(lastname='Practice', firstname='Hexa')

Hexa Practice
Hexa Practice

In [17]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)
 
 
print("Case-1:")
nameAge("Suraj", 27)

print("\nCase-2:")
nameAge(27, "Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

In [18]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
 
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [20]:
l = ['sat', 'bat', 'cat', 'mat']
 
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [13]:
# set of letters
s = {'g', 'e', 'k', 's'}
 
# adding 's'
s.add('f')
print('Set after updating:', s)
 
# Discarding element from the set
s.discard('g')
print('\nSet after updating:', s)
 
# Removing element from the set
s.remove('e')
print('\nSet after updating:', s)
 
# Popping elements from the set
print('\nPopped element', s.pop())
print('Set after updating:', s)
 
s.clear()
print('\nSet after updating:', s)

Set after updating: {'e', 's', 'g', 'f', 'k'}

Set after updating: {'e', 's', 'f', 'k'}

Set after updating: {'s', 'f', 'k'}

Popped element s
Set after updating: {'f', 'k'}

Set after updating: set()

In [1]:
def cube(y):
    return y*y*y
 
lambda_cube = lambda y: y*y*y
print("Using function defined with `def` keyword, cube:", cube(5))
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [2]:
format_numeric = lambda num: f"{num:e}" if isinstance(num, int) else f"{num:,.2f}"
 
print("Int formatting:", format_numeric(1000000))
print("float formatting:", format_numeric(999999.789541235))

Int formatting: 1.000000e+06
float formatting: 999,999.79

In [3]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
sortList = lambda x: (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [4]:
class Dog:
 
    # class attribute
    attr1 = "mammal"
 
    # Instance attribute
    def __init__(self, name):
        self.name = name
 
# Driver code
# Object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")
 

print("Rodger is a {}".format(Rodger.__class__.attr1))
print("Tommy is also a {}".format(Tommy.__class__.attr1))
 

print("My name is {}".format(Rodger.name))
print("My name is {}".format(Tommy.name))

Rodger is a mammal
Tommy is also a mammal
My name is Rodger
My name is Tommy

In [5]:
class Dog:
 

    attr1 = "mammal"
 

    def __init__(self, name):
        self.name = name
         
    def speak(self):
        print("My name is {}".format(self.name))
 
# Driver code

Rodger = Dog("Rodger")
Tommy = Dog("Tommy")
 

Rodger.speak()
Tommy.speak()

My name is Rodger
My name is Tommy

In [6]:
class Person(object):
 
    # __init__ is known as the constructor
    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber
 
    def display(self):
        print(self.name)
        print(self.idnumber)
         
    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))
     
# child class
class Employee(Person):
    def __init__(self, name, idnumber, salary, post):
        self.salary = salary
        self.post = post
 
      
        Person.__init__(self, name, idnumber)
         
    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))
        print("Post: {}".format(self.post))
 
 

a = Employee('Rahul', 886012, 200000, "Intern")
 

a.display()
a.details()

Rahul
886012
My name is Rahul
IdNumber: 886012
Post: Intern

In [7]:
class Bird:
   
    def intro(self):
        print("There are many types of birds.")
 
    def flight(self):
        print("Most of the birds can fly but some cannot.")
 
class sparrow(Bird):
   
    def flight(self):
        print("Sparrows can fly.")
 
class ostrich(Bird):
 
    def flight(self):
        print("Ostriches cannot fly.")
 
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()
 
obj_bird.intro()
obj_bird.flight()
 
obj_spr.intro()
obj_spr.flight()
 
obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [12]:
class Bird:
# constructor
    def __init__(self,name): 
        self.name = name
    def print_info(self):
        print('This bird is :',self.name)
    def fly(self):
        print(' bird can fly')

class Shalik (Bird):
    def __init__(self, name, color, charater): 
        super().__init__(name)
        self.color = color
        self.charater = charater
# override method
    def print_info(self):
        super().print_info()
        print('color of bird is :', self.color) 
        print('Character of bird is :', self.charater)
    
# Override method
    def fly(self):
        print(' bird can fly')
    
obj_Shalik = Shalik ('Shalik', 'black', 'not good')
obj_Shalik.fly()
obj_Shalik.print_info()

 bird can fly
This bird is : Shalik
color of bird is : black
Character of bird is : not good

In [22]:
try:
    k = 5//0
    print(k)
 
except ZeroDivisionError:
    print("Can't divide by zero")
 
finally:
    print('This is always executed')

Can't divide by zero
This is always executed

In [14]:
from math import sqrt, factorial
 
print(sqrt(16))
print(factorial(6))

4.0
720

In [23]:

import math


print(math.sqrt(25)) 

e
print(math.pi) 


print(math.degrees(2)) 


print(math.radians(60)) 

# Sine of 2 radians
print(math.sin(2)) 


print(math.cos(0.5)) 


print(math.tan(0.23)) 


print(math.factorial(4)) 


import random


print(random.randint(0, 5)) 


print(random.random()) 

print(random.random() * 100) 

List = [1, 4, True, 800, "python", 27, "hello"]


print(random.choice(List)) 



import datetime
from datetime import date
import time


print(time.time()) 


print(date.fromtimestamp(454554))

5.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
0.23414336235146527
24
0
0.9314989204182499
52.16738956990261
True
1706520934.6687574
1970-01-06

In [1]:

def decimal_into_binary(decimal_1):  
    decimal = int(decimal_1)  
    

    print ("The given decimal number", decimal, "in Binary number is: ", bin(decimal))  
 
def decimal_into_octal(decimal_1):  
    decimal = int(decimal_1)  
    
   
    print ("The given decimal number", decimal, "in Octal number is: ", oct(decimal))  
 
def decimal_into_hexadecimal(decimal_1):  
    decimal = int(decimal_1)  
    

    print ("The given decimal number", decimal, " in Hexadecimal number is: ", hex(decimal))  
    
# Driver program  
decimal_1 = int (input (" Enter the Decimal Number: "))  
decimal_into_binary(decimal_1)  
decimal_into_octal(decimal_1)  
decimal_into_hexadecimal(decimal_1)

 Enter the Decimal Number: 12
The given decimal number 12 in Binary number is:  0b1100
The given decimal number 12 in Octal number is:  0o14
The given decimal number 12  in Hexadecimal number is:  0xc

In [ ]:
import csv
rows = []
with open("cpudatatextad.csv", 'r') as file:
   csvreader = csv.reader(file)
   header = next(csvreader)
   for row in csvreader:
       rows.append(row)
print(header)
print(rows)

In [2]:
import numpy as np
import pandas as pd

ser=pd.Series()
print("pandas series: ",ser)

data=np.array(['a','b','c','d','e'])

ser=pd.Series(data)
print("pandas series: ",ser)

pandas series:  Series([], dtype: object)
pandas series:  0    a
1    b
2    c
3    d
4    e
dtype: object

In [3]:
import pandas as pd
df =pd.DataFrame()
print(df)
 

lst = ['Python', 'For', 'Python', 'is', 'portal', 'for', 'Python']
 
df =pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0  Python
1     For
2  Python
3      is
4  portal
5     for
6  Python

In [4]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [14]:
import csv

with open('Students_Data.csv', 'w', newline='') as csvfile:
    data = [
        {'Name': 'Alex', 'M1 Score': 62, 'M2 Score': 80},
        {'Name': 'Brad', 'M1 Score': 45, 'M2 Score': 56},
        {'Name': 'Joey', 'M1 Score': 85, 'M2 Score': 98}
    ]

    fieldnames = ['Name', 'M1 Score', 'M2 Score']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerows(data)

In [5]:
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
filename = 'Student_scores.csv'
with open(filename, 'w') as file:
    for header in header:
        file.write(str(header)+', ')
    file.write('n')
    for row in data:
        for x in row:
            file.write(str(x)+', ')
        file.write('n')

In [6]:
import pandas as pd
header = ['Name', 'M1 Score', 'M2 Score']
data = [['Alex', 62, 80], ['Brad', 45, 56], ['Joey', 85, 98]]
data = pd.DataFrame(data, columns=header)
data.to_csv('Stu_data.csv', index=False)

In [15]:
import pandas as pd 
  

dict = { 
    'series': ['Friends', 'Money Heist', 'Marvel'], 
    'episodes': [200, 50, 45], 
    'actors': [' David Crane', 'Alvaro', 'Stan Lee'] 
} 
  

df = pd.DataFrame(dict) 
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

In [20]:
import csv 
  
with open('industry.csv') as csvfile: 
     
    readCSV = csv.reader(csvfile, delimiter=',') 
    for row in readCSV: 
        print(row)   
        print("\n")

['Industry']


['Accounting/Finance']


['Advertising/Public Relations']


['Aerospace/Aviation']


['Arts/Entertainment/Publishing']


['Automotive']


['Banking/Mortgage']


['Business Development']


['Business Opportunity']


['Clerical/Administrative']


['Construction/Facilities']


['Consumer Goods']


['Customer Service']


['Education/Training']


['Energy/Utilities']


['Engineering']


['Government/Military']


['Green']


['Healthcare']


['Hospitality/Travel']


['Human Resources']


['Installation/Maintenance']


['Insurance']


['Internet']


['Job Search Aids']


['Law Enforcement/Security']


['Legal']


['Management/Executive']


['Manufacturing/Operations']


['Marketing']


['Non-Profit/Volunteer']


['Pharmaceutical/Biotech']


['Professional Services']


['QA/Quality Control']


['Real Estate']


['Restaurant/Food Service']


['Retail']


['Sales']


['Science/Research']


['Skilled Labor']


['Technology']


['Telecommunications']


['Transportation/Logistics']


['Other']

In [19]:
import pandas as pd
 
mydict = [
    {'branch': 'COE', 'cgpa': '9.0', 'name': 'Nikhil', 'year': '2'},
    {'branch': 'COE', 'cgpa': '9.1', 'name': 'Sanchit', 'year': '2'},
    {'branch': 'IT', 'cgpa': '9.3', 'name': 'Aditya', 'year': '2'},
    {'branch': 'SE', 'cgpa': '9.5', 'name': 'Sagar', 'year': '1'},
    {'branch': 'MCE', 'cgpa': '7.8', 'name': 'Prateek', 'year': '3'},
    {'branch': 'EP', 'cgpa': '9.1', 'name': 'Sahil', 'year': '2'}
]
 

df = pd.DataFrame(mydict)
 

df.to_csv('output.csv', index=False)

In [21]:
file2 = open('file2.txt', 'w')


file2.write('Programming is Fun.\n')
file2.write('Programiz for beginners\n')

24

In [22]:

file1 = open("file2.txt")


read_content = file1.read()
print(read_content)

In [23]:
List = []
print("Initial blank List: ")
print(List)

# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

In [24]:
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [25]:


List = [1, 2, 3, 4, 5]
 

List.pop()
print("\nList after popping an element: ")
print(List)
 

List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

In [26]:
List = ['G', 'E', 'E', 'K', 'S', 'F',
        'O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)
 

Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

In [27]:

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: (x % 2 != 0), li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [28]:

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [29]:

from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193

In [30]:

import functools
lis = [1, 3, 5, 6, 2, ]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6

In [1]:
PYT = set()
PYT.add('s')
print("Letters are:", PYT)
 

PYT.add('e')
print("Letters are:", PYT)

PYT.add('s')
print("Letters are:", PYT)

Letters are: {'s'}
Letters are: {'e', 's'}
Letters are: {'e', 's'}

In [2]:
myset = set(["a", "b", "c"])
print(myset)
 

myset.add("d")
print(myset)

{'a', 'c', 'b'}
{'a', 'c', 'b', 'd'}

In [3]:
set1 = {1,2,3,4,5,6}
 
print("Initial set")
print(set1)
 
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [4]:



test_set = {6, 4, 2, 7, 9}
 

print("The original set is : " + str(test_set))
 

up_ele = [1, 5, 10]
 

test_set.update(up_ele)

print("Set after adding elements : " + str(test_set))

The original set is : {2, 4, 6, 7, 9}
Set after adding elements : {1, 2, 4, 5, 6, 7, 9, 10}

In [5]:
my_set = set([12, 10, 13, 15, 8, 9])
 
 
while my_set:
    my_set.discard(max(my_set))
    print(my_set)

{8, 9, 10, 12, 13}
{8, 9, 10, 12}
{8, 9, 10}
{8, 9}
{8}
set()

In [6]:
set1 = set()
set2 = set()
 
for i in range(5):
    set1.add(i)
 
for i in range(3,9):
    set2.add(i)

set3 = set1.difference(set2)
 
print(" Difference of two sets using difference() function")
print(set3)
 

set3 = set1 - set2
 
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [7]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
 

population = people.union(vampires)
 
print("Union using union() function")
print(population)
 

population = people|dracula
 
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Karan', 'Jay', 'Arjun', 'Idrish', 'Archil'}

Union using '|' operator
{'Deepanshu', 'Jay', 'Idrish', 'Archil', 'Raju'}

In [8]:
set1 = set()
set2 = set()
 
for i in range(5):
    set1.add(i)
 
for i in range(3,9):
    set2.add(i)
 

set3 = set1.intersection(set2)
 
print("Intersection using intersection() function")
print(set3)
 

set3 = set1 & set2
 
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [10]:
def unique(list1):
 
    # initialize a null list
    unique_list = []
 
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print (x),
 
 
# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

In [11]:
import numpy as np
 
def unique(list1):
    x = np.array(list1)
    print(np.unique(x))
 
 
# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
 
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10 20 30 40]

the unique values from 2nd list is
[1 2 3 4 5]

In [12]:
list1 = [10, 20, 10, 30, 40, 40]
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
 

unique_list_1 = list(dict.fromkeys(list1))
 
unique_list_2 = list(dict.fromkeys(list2))
 

print(unique_list_1,unique_list_2,sep="\n")

[10, 20, 30, 40]
[1, 2, 3, 4, 5]

In [13]:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

In [14]:
list1 = [10, 20, 10, 30, 40, 40]
 
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
 

unique_list_1 = list(dict.fromkeys(list1))
 
unique_list_2 = list(dict.fromkeys(list2))
 

print(unique_list_1,unique_list_2,sep="\n")

[10, 20, 30, 40]
[1, 2, 3, 4, 5]

In [16]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [1]:
import json
 
# Define JSON string
jsonString = '{ "id": 121, "name": "Naveen", "course": "MERN Stack"}'
 
# Convert JSON String to Python
student_details = json.loads(jsonString)
 
# Print Dictionary
print(student_details)
 
# Print values using keys
print(student_details['name'])
print(student_details['course'])

{'id': 121, 'name': 'Naveen', 'course': 'MERN Stack'}
Naveen
MERN Stack

In [3]:
import json
 
# JSON string
json_string = '{"Name": "Suezen", "age": 23, "Course": "DSA"}'
 
# Convert JSON string to dictionary
json_dict = json.loads(json_string)
 
print(json_dict)

{'Name': 'Suezen', 'age': 23, 'Course': 'DSA'}

In [4]:
import json
 
# JSON string
employee ='{"id":"09", "name": "Nitin", "department":"Finance"}'
 
# Convert string to Python dict
employee_dict = json.loads(employee)
print(employee_dict)
 
print(employee_dict['name'])

{'id': '09', 'name': 'Nitin', 'department': 'Finance'}
Nitin

In [5]:
import json
  
# Data to be written
dictionary = {
  "id": "04",
  "name": "sunil",
  "department": "HR"
}
  
# Serializing json
json_object = json.dumps(dictionary, indent = 4)
print(json_object)

{
    "id": "04",
    "name": "sunil",
    "department": "HR"
}

In [6]:
import json
  
# Data to be written
dictionary ={
    "name" : "sathiyajith",
    "rollno" : 56,
    "cgpa" : 8.6,
    "phonenumber" : "9976770500"
}
  
with open("sample.json", "w") as outfile:
    json.dump(dictionary, outfile)

In [7]:
import json
 
# JSON string
employee ='{"id":"09", "name": "Nitin", "department":"Finance"}'
 
# Convert string to Python dict
employee_dict = json.loads(employee)
 
# Pretty Printing JSON string back
print(json.dumps(employee_dict, indent = 4, sort_keys= True))

{
    "department": "Finance",
    "id": "09",
    "name": "Nitin"
}

In [1]:
import pandas as pd

data = {'status': ['Completed', 'InProgress', 'Completed', 'Pending', 'InProgress', 'Completed']}
df = pd.DataFrame(data)

status_counts = df['status'].value_counts()

print(status_counts)

status
Completed     3
InProgress    2
Pending       1
Name: count, dtype: int64

In [2]:
import pandas as pd

data = {'date': ['2022-01-01', '2022-01-01', '2022-02-01', '2022-02-01', '2022-02-01'],
        'status': ['Completed', 'InProgress', 'Completed', 'Pending', 'InProgress']}
df = pd.DataFrame(data)

df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.to_period('M')

count_by_month_status = df.groupby(['month', 'status']).size().reset_index(name='count')

print(count_by_month_status)

     month      status  count
0  2022-01   Completed      1
1  2022-01  InProgress      1
2  2022-02   Completed      1
3  2022-02  InProgress      1
4  2022-02     Pending      1

In [9]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['John', 'Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

result_df = pd.merge(df1, df2, on='ID', how='inner')

print(result_df)

   ID   Name  Age
0   2  Alice   25
1   3    Bob   30

In [10]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['John', 'Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})

result_df = pd.merge(df1, df2, on='ID', how='inner')

aggregated_df = result_df.groupby('ID').agg({'Name': 'first', 'Age': 'mean'}).reset_index()

print(aggregated_df)

   ID   Name   Age
0   2  Alice  25.0
1   3    Bob  30.0

In [11]:
import pandas as pd

df = pd.DataFrame({'ID': [3, 1, 2, 4],
                   'Name': ['John', 'Alice', 'Bob', 'Eve'],
                   'Age': [25, 22, 30, 22]})

sorted_df = df.sort_values(by='ID')

print(sorted_df)

   ID   Name  Age
1   1  Alice   22
2   2    Bob   30
0   3   John   25
3   4    Eve   22

In [12]:
import pandas as pd


df = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['John', 'Alice', 'Bob'], 'Age': [25, 22, 30]})


df.to_csv('output.csv', index=False)

In [13]:
import pandas as pd

df = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['John', 'Alice', 'Bob'], 'Age': [25, 22, 30]})

df.to_json('output.json', orient='records', lines=True)