In [16]:
import pandas as pd

csv_file_path = 'output.csv'

with open(csv_file_path, 'r') as file:
    content = file.read()
    print(content)

branch,cgpa,name,year
COE,9.0,Nikhil,2
COE,9.1,Sanchit,2
IT,9.3,Aditya,2
SE,9.5,Sagar,1
MCE,7.8,Prateek,3
EP,9.1,Sahil,2

In [15]:
import pandas as pd

path = 'output.csv'

df = pd.read_csv(path)

print(df)

  branch  cgpa     name  year
0    COE   9.0   Nikhil     2
1    COE   9.1  Sanchit     2
2     IT   9.3   Aditya     2
3     SE   9.5    Sagar     1
4    MCE   7.8  Prateek     3
5     EP   9.1    Sahil     2

In [17]:
filtered_df = df.query('year > 1 and cgpa > 8.0')

print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
  branch  cgpa     name  year
0    COE   9.0   Nikhil     2
1    COE   9.1  Sanchit     2
2     IT   9.3   Aditya     2
5     EP   9.1    Sahil     2

In [18]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: (x % 2 != 0), li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [19]:

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*3, li))
print(final_list)

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

In [20]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193

In [21]:
import json

json_string = '{"name": "John", "age": 25, "city": "New York"}'

python_dict = json.loads(json_string)

print(python_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [22]:
import json

json_array_string = '[1, 2, 3, 4, 5]'

python_list = json.loads(json_array_string)

print(python_list)

[1, 2, 3, 4, 5]

In [31]:
print(df.describe())

           cgpa      year
count  6.000000  6.000000
mean   8.966667  2.000000
std    0.598888  0.632456
min    7.800000  1.000000
25%    9.025000  2.000000
50%    9.100000  2.000000
75%    9.250000  2.000000
max    9.500000  3.000000