In [0]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Practice").getOrCreate()


emp = [(1,"Smith","finance",30000),(2, "Rose","Marketing", 40000),(3,"Williams","HR",10000),(4, "Jones","finance",20000),(5,"Eliot","Marketing",80000),(6, "Jack","manager",45000)]
empColumns = ["emp_id","name","Department","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show()

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     1|   Smith|   finance| 30000|
|     2|    Rose| Marketing| 40000|
|     3|Williams|        HR| 10000|
|     4|   Jones|   finance| 20000|
|     5|   Eliot| Marketing| 80000|
|     6|    Jack|   manager| 45000|
+------+--------+----------+------+

In [0]:
empDF.groupBy("Department").sum("salary").show()

+----------+-----------+
|Department|sum(salary)|
+----------+-----------+
|   finance|      50000|
| Marketing|     120000|
|        HR|      10000|
|   manager|      45000|
+----------+-----------+

In [0]:
empDF.groupBy("Department").min("salary").show()

+----------+-----------+
|Department|min(salary)|
+----------+-----------+
|   finance|      20000|
| Marketing|      40000|
|        HR|      10000|
|   manager|      45000|
+----------+-----------+

In [0]:
empDF.groupBy("Department").max("salary").show()

+----------+-----------+
|Department|max(salary)|
+----------+-----------+
|   finance|      30000|
| Marketing|      80000|
|        HR|      10000|
|   manager|      45000|
+----------+-----------+

In [0]:
empDF.groupBy("Department").avg("salary").show()

+----------+-----------+
|Department|avg(salary)|
+----------+-----------+
|   finance|    25000.0|
| Marketing|    60000.0|
|        HR|    10000.0|
|   manager|    45000.0|
+----------+-----------+

In [0]:
empDF.groupBy("Department").mean("salary").show()

+----------+-----------+
|Department|avg(salary)|
+----------+-----------+
|   finance|    25000.0|
| Marketing|    60000.0|
|        HR|    10000.0|
|   manager|    45000.0|
+----------+-----------+

In [0]:
empDF.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|   finance|    2|
| Marketing|    2|
|        HR|    1|
|   manager|    1|
+----------+-----+

In [0]:
empDF.groupBy("name","Department").sum("salary").show()

+--------+----------+-----------+
|    name|Department|sum(salary)|
+--------+----------+-----------+
|   Smith|   finance|      30000|
|    Rose| Marketing|      40000|
|Williams|        HR|      10000|
|   Jones|   finance|      20000|
|   Eliot| Marketing|      80000|
|    Jack|   manager|      45000|
+--------+----------+-----------+

In [0]:
empDF.agg(({"salary":"sum"})).show()

+-----------+
|sum(salary)|
+-----------+
|     225000|
+-----------+

In [0]:
empDF.agg(({"salary":"min"})).show()

+-----------+
|min(salary)|
+-----------+
|      10000|
+-----------+

In [0]:
empDF.agg(({"salary":"max"})).show()

+-----------+
|max(salary)|
+-----------+
|      80000|
+-----------+

In [0]:
empDF.agg(({"salary":"mean"})).show()

+-----------+
|avg(salary)|
+-----------+
|    37500.0|
+-----------+

In [0]:
empDF.groupBy("Department").pivot("name").sum("salary").show()

+----------+-----+-----+-----+-----+-----+--------+
|Department|Eliot| Jack|Jones| Rose|Smith|Williams|
+----------+-----+-----+-----+-----+-----+--------+
|   finance| null| null|20000| null|30000|    null|
|        HR| null| null| null| null| null|   10000|
|   manager| null|45000| null| null| null|    null|
| Marketing|80000| null| null|40000| null|    null|
+----------+-----+-----+-----+-----+-----+--------+

In [0]:
empDF.sort("salary").show()

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     3|Williams|        HR| 10000|
|     4|   Jones|   finance| 20000|
|     1|   Smith|   finance| 30000|
|     2|    Rose| Marketing| 40000|
|     6|    Jack|   manager| 45000|
|     5|   Eliot| Marketing| 80000|
+------+--------+----------+------+

In [0]:
empDF.sort(empDF["salary"].desc()).show()

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     5|   Eliot| Marketing| 80000|
|     6|    Jack|   manager| 45000|
|     2|    Rose| Marketing| 40000|
|     1|   Smith|   finance| 30000|
|     4|   Jones|   finance| 20000|
|     3|Williams|        HR| 10000|
+------+--------+----------+------+

In [0]:
empDF.sort("salary","name").show()

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     3|Williams|        HR| 10000|
|     4|   Jones|   finance| 20000|
|     1|   Smith|   finance| 30000|
|     2|    Rose| Marketing| 40000|
|     6|    Jack|   manager| 45000|
|     5|   Eliot| Marketing| 80000|
+------+--------+----------+------+

In [0]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Practice").getOrCreate()


emp = [(1,"Smith","finance",30000),(2, "Rose","Marketing", 40000),(3,"Williams","HR",10000),(4, "Jones","finance",20000),(5,"Eliot","Marketing",80000),(6, "Jack","manager",45000),(7, "ronald",None,25000)]
empColumns = ["emp_id","name","Department","salary"]

empDF1 = spark.createDataFrame(data=emp, schema = empColumns)
empDF1.show()

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     1|   Smith|   finance| 30000|
|     2|    Rose| Marketing| 40000|
|     3|Williams|        HR| 10000|
|     4|   Jones|   finance| 20000|
|     5|   Eliot| Marketing| 80000|
|     6|    Jack|   manager| 45000|
|     7|  ronald|      null| 25000|
+------+--------+----------+------+

In [0]:
empDF1.na.drop().show()

+------+--------+----------+------+
|emp_id|    name|Department|salary|
+------+--------+----------+------+
|     1|   Smith|   finance| 30000|
|     2|    Rose| Marketing| 40000|
|     3|Williams|        HR| 10000|
|     4|   Jones|   finance| 20000|
|     5|   Eliot| Marketing| 80000|
|     6|    Jack|   manager| 45000|
+------+--------+----------+------+

In [0]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.getOrCreate() 

emp = [(1,"Smith",-1,"2018","10","M",3000),(2, "Rose",1 , "2010", "20","M", 4000),(3,"Williams",1,"2010","10","M",1000),(4, "Jones",2 ,"2005","10","F",2000),(5,"Brown",2,"2010","40","",-1),(6, "Brown", 2, "2010","50","",-1)]
empColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") .show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"outer").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('codingchallenge').getOrCreate()
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

df = spark.createDataFrame(data=data,schema=columns)
df.show()

+-----+------------+
|Seqno|        Name|
+-----+------------+
|    1|  john jones|
|    2|tracey smith|
|    3| amy sanders|
+-----+------------+

In [0]:
from pyspark.sql.functions import upper
df.withColumn("Upper_Name", upper(df.Name)) \
  .show()

+-----+------------+------------+
|Seqno|        Name|  Upper_Name|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

In [0]:
df.select("Seqno","Name", upper(df.Name)) \
  .show()

+-----+------------+------------+
|Seqno|        Name| upper(Name)|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+

In [0]:
df.createOrReplaceTempView("TAB")
spark.sql("select Seqno, Name, UPPER(Name) from TAB") \
     .show()

+-----+------------+------------+
|Seqno|        Name| upper(Name)|
+-----+------------+------------+
|    1|  john jones|  JOHN JONES|
|    2|tracey smith|TRACEY SMITH|
|    3| amy sanders| AMY SANDERS|
+-----+------------+------------+